.bar{
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0px;
    height: 100px;
    background-color:rgb(77, 99, 67);
    padding: 0px 15px;
    box-shadow: black;

}

.editcard
{
    width: 10px;
    height: 10px;
    margin: 5px;
}