.bar{

    position: fixed;
    width: 90px;
    top: 50px;
    bottom: 70px;
    left: 0;
    background-color: #ccc;

}

/*my custom tag*/
.w3-card-my{

    width: 70px;
    margin: 10px;
}