.w3-card-4
{
    display: inline-block;
    width: 250px;
    width: 250px;
    margin: 10px;
}

.spacing
{
    display: inline-block;
    width: 250px;
    width: 250px;
    margin: 10px;
}